<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>


  <meta name="viewport" content="width=device-width, initial-scale=1" />      
  <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" />

  <!-- Replace this stuff -->
  <% include common/meta %>

  <meta name="description" content="<%= profile.firstName %> <%= profile.lastName %>'s profile information">
  <meta name="keywords" content="<% include common/keywords %> User, Profile, Information, Website, Social, Media, Social Media, Linkedin" />

  <title>Future Blue Canada</title>

  <!-- Stylesheets -->
  <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="//1.www.s81c.com/common/v18/css/tables.css" rel="stylesheet" />
 <link href="/css/styles.css" rel="stylesheet" />

  <!-- Scripts -->
  <% include common/meta-json %>

  <script src="//www.ibm.com/common/stats/ida_stats.js"></script>
  <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="//1.www.s81c.com/common/v18/js/tables.js"></script>

  <% include common/settings %>
</head>
<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <% include common/nav %>

    <!-- LEADSPACE_BEGIN -->
    <!-- This is where you put the breadcrumbs/page title. -->
    <header role="banner" aria-labelledby="ibm-pagetitle-h1">

      <div id="ibm-leadspace-head"  class="ibm-alternate">
        <div id="ibm-leadspace-body" style="padding-bottom: 0px;">
          <!-- Nav trail -->

          <nav role="navigation" aria-label="Breadcrumb">
            <ul id="ibm-navigation-trail">
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" class="breadcrumb" itemprop="url"><span itemprop="title">Home</span></a>
              </li>
            </ul>
          </nav>
          <div class="ibm-columns">
            <div class="ibm-col-6-5">
              <h1 id="ibm-pagetitle-h1" class="ibm-h1 ibm-bold"><%= profile.firstName %> <%= profile.lastName %>'s Profile</h1>
            </div>
          </div>
        </div>
      </div>

    </header>
    <!-- LEADSPACE_END -->

    <main role="main" aria-labelledby="ibm-pagetitle-h1">
      <div id="ibm-pcon">
        <div id="ibm-content">
          <div id="ibm-content-body">
            <div id="ibm-content-main">

              <!-- Content -->
              <div class="ibm-columns">
                <div class="ibm-col-6-2">
                  <img src="<%= profile.profilePicturePath %>" class="ibm-resize" alt="<%= profile.firstName %> <%= profile.lastName %>" />
                </div>

                <div class="ibm-col-6-4">
                  <div class="ibm-card">
                    <div class="ibm-card__content">
                      <h3 class="ibm-h3"><b>About <%= profile.firstName %></b></h3>
                      <% if (profile.signature) { %>
                        <p class="ibm-padding-bottom-0"><%= profile.signature %></p>
                      <% } else { %>
                        <p class="ibm-padding-bottom-0"><%= profile.firstName %> doesn't have any information to share</p>
                      <% } %>

                      <% if (posts.length > 0) { %>
                        <h3 class="ibm-h3 ibm-padding-top-1"><b><%= profile.firstName %>'s Blog Posts</b></h3>

                        <div class="ibm-card">
                          <div class="ibm-card__content">
                            <table id="posts-table" class="ibm-data-table" cellspacing="0" width="100%">
                              <caption>Click on a row to read the post</caption>
                              <thead>
                                  <tr>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                  </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                          </div>
                        </div>
                      <% } %>

                      <% if (profile.website) { %>
                        <h3 class="ibm-h3 ibm-padding-top-1"><b>Personal Website</b></h3>
                        <p class="ibm-padding-bottom-0"><a href="<%= profile.website %>" target="_blank"><%= profile.website%></a></p>
                      <% } %>

                      <% if (profile.linkedin) { %>
                        <h3 class="ibm-h3 ibm-padding-top-1"><b>Linkedin Profile</b></h3>
                        <p class="ibm-padding-bottom-0"><a href="<%= profile.linkedin %>" target="_blank"><%= profile.linkedin %></a></p>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>

    <% include common/footer %>

  </div>

  <script src="/libs/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript"> 
    $(document).ready(function() {
      // Build the table with all of the posts that this user has posted
      var table = $("#posts-table").DataTable({
        data: <%- JSON.stringify(posts) %>,
        order: [],
        bLengthChange: false,
        bFilter: false,
        columns: [
          { data: "id", visible: false },
          { data: "title", sTitle: "Title" },
          { data: "category", sTitle: "Category" },
          { data: "datePosted", sTitle: "Date Posted" }
        ],
        pagingType: "full_numbers"
      });

      // Redirect to the post
      table.on('click', 'tr', function() {
        var row = table.row(this).data();
        window.location.href = "/blog/post/" + row.id;
      });
    });
  </script>

</body>
</html>